body{
    background-image: url(kockasfulu2.jpg);
    background-repeat: no-repeat;
    padding-left: 5px;
}


.csapat{
    
}



.Doma{
    
}



.Zsolti{


}


.Ádi{ background-color:midnightblue;
    font-style: italic;
    color: green;
    text-decoration: underline;
}


.Szabi{

}

.gan {
    
}

img {
    width: 200px;
    
float: left;
}