body{
    background-image: url(kockasfulu2.jpg);
    background-repeat: no-repeat;
    padding-left: 5px;
}


.csapat{
    
}



.Doma{
    
}



.Zsolti{


}


.Ádi{
    
}


.Szabi{

}

.gan {
    
}

img {
    width: 200px;
    
float: left;
}